<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <button class="toggle-theme" onclick="toggleTheme()">🌙</button>

    <div class="clouds"></div>

    <div class="card">
        <h1>Weather Checker</h1>

        <form action="/check-weather" method="POST">
            <input type="text" name="city" class="input-city" placeholder="Enter city name..." required>
            <button class="btn-submit">Check Weather</button>
        </form>
    </div>

    <script>
        function toggleTheme() {
            document.body.classList.toggle("dark");
            localStorage.setItem("theme", document.body.classList.contains("dark") ? "dark" : "light");
        }
        if (localStorage.getItem("theme") === "dark") document.body.classList.add("dark");
    </script>

</body>



</html>