body {
    background-color: #50cdff;
}




.nav {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.5rem;
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: 9px 11px 5px #ffe224e0;
    letter-spacing: 3px;
    background-color: #0059ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    border-radius: 25px;
    text-align: center;
}

form input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-submit {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.form-submit:hover {
    background: #0056b3;
}


.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-data {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 350px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.advice {
    margin-top: 15px;
    padding: 10px;
    background: #fafafa;
    border-radius: 5px;
}